
@font-face {
    font-family: 'staticbold';
    src: url('static_bold-webfont.woff2') format('woff2'),
         url('static_bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'static';
    src: url('static-webfont.woff2') format('woff2'),
         url('static-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*
@font-face {
    font-family: 'staticbold';
    src: url('ViaSansBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;

}

@font-face {
    font-family: 'static';
    src: url('ViaSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*/

@font-face {
    font-family: 'menlo';
    src: url('Menlo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sfns';
    src: url('SFNS_Display.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}
