@font-face {
  font-family: 'icon';
  src: url('icon.woff') format('woff');
}

body {
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.drawer:hover, .drawer-menu-item:hover {
  background-color: #3d404c !important;
}

.drawer-menu {
  position: absolute;
  bottom: 90px;
  left: 50%;
  transform: translate(-50%);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  overflow: auto;
}

.drawer-menu-enter {
  transform: translateY(120px);
}

.drawer-menu-enter.drawer-menu-enter-active {
  transform: translateY(0);
  transition: all .3s linear;
}

.drawer-menu-leave {
  transform: translateY(0);
}

.drawer-menu-leave.drawer-menu-leave-active {
  transform: translateY(120px);
  transition: all .2s linear;
}

.dropdown-menu::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
}

.dropdown-menu::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.3);
}

.dropdown-menu .dropdown-menu-item:hover {
  color: white !important;
  background-color: #64B5F6;
}

.dropdown:focus {
  outline: none;
}

.dnd-item-appear {
  transform: scale(0.5);
}

.dnd-item-appear.dnd-item-appear-active {
  transform: none;
  transition: all .3s linear;
}

.dnd-item-leave {
  transform: none;
  opacity: 1;
}

.dnd-item-leave.dnd-item-leave-active {
  transform: scale(10);
  opacity: 0.1;
  transition: all 3s linear;
}

.drawer-menu::-webkit-scrollbar {
  display: none;
}