@font-face {
  font-family: 'castlerock-programming';
  src:  url('fonts/castlerock-programming.eot?ngalzb');
  src:  url('fonts/castlerock-programming.eot?ngalzb#iefix') format('embedded-opentype'),
    url('fonts/castlerock-programming.ttf?ngalzb') format('truetype'),
    url('fonts/castlerock-programming.woff?ngalzb') format('woff'),
    url('fonts/castlerock-programming.svg?ngalzb#castlerock-programming') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'castlerock-programming' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-activate:before {
  content: "\e900";
}
.icon-deactivate:before {
  content: "\e901";
}
.icon-robocore:before {
  content: "\e1000";
}
.icon-robocore-attach-3:before {
  content: "\e1001";
}
.icon-robocore-attach-2:before {
  content: "\e1002";
}
.icon-robocore-launch:before {
  content: "\e1003";
}
.icon-robocore-time-up:before {
  content: "\e1004";
}
.icon-robocore-terminate:before {
  content: "\e1005";
}
.icon-robocore-time:before {
  content: "\e1006";
}
.icon-LED:before {
  content: "\e1101";
}
.icon-LED-on:before {
  content: "\e1102";
}
.icon-LED-off:before {
  content: "\e1103";
}
.icon-LED-slow-blink:before {
  content: "\e1104";
}
.icon-LED-fast-blink:before {
  content: "\e1105";
}
.icon-LED-stop-blink:before {
  content: "\e1106";
}
.icon-LED-toggle:before {
  content: "\e1107";
}
.icon-button:before {
  content: "\e1201";
}
.icon-button-press:before {
  content: "\e1202";
}
.icon-button-release:before {
  content: "\e1203";
}
.icon-motor:before {
  content: "\e1301";
}
.icon-motor-change-speed:before {
  content: "\e1302";
}
.icon-motor-reverse:before {
  content: "\e1303";
}
.icon-motor-stop:before {
  content: "\e1304";
}
.icon-motor-rotate:before {
  content: "\e1305";
}
.icon-motor-pause:before {
  content: "\e1306";
}
.icon-motor-resume:before {
  content: "\e1307";
}
.icon-tape:before {
  content: "\e1401";
}
.icon-tape-enter:before {
  content: "\e1402";
}
.icon-tape-leave:before {
  content: "\e1403";
}
.icon-IR:before {
  content: "\e1501";
}
.icon-IR-beacon:before {
  content: "\e1502";
}
.icon-IR-message-emit:before {
  content: "\e1503";
}
.icon-stepper-increase:before {
  content: "\e1600";
}
.icon-stepper-decrease:before {
  content: "\e1601";
}
.icon-menu-pointer:before {
  content: "\e1602";
}
.icon-menu-pointer-up:before {
  content: "\e1603";
}
.icon-IR-address:before {
  content: "\e1604";
}
.icon-IR-value:before {
  content: "\e1605";
}
.icon-digit-0:before {
  content: "\30";
}
.icon-digit-1:before {
  content: "\31";
}
.icon-digit-2:before {
  content: "\32";
}
.icon-digit-3:before {
  content: "\33";
}
.icon-digit-4:before {
  content: "\34";
}
.icon-digit-5:before {
  content: "\35";
}
.icon-digit-6:before {
  content: "\36";
}
.icon-digit-7:before {
  content: "\37";
}
.icon-digit-8:before {
  content: "\38";
}
.icon-digit-9:before {
  content: "\39";
}

